@import url('https://fonts.googleapis.com/css2?family=Delius&family=League+Spartan:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.random-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Playwrite NZ Basic", cursive;
    background: linear-gradient(135deg, #1d2671, #c33764);
}

.random-card {
    width: 100%;
    max-width: 480px;
    padding: 35px 25px;
    border-radius: 22px;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.8s ease-in-out;
}

.title {
    font-size: 28px;
    margin-bottom: 8px;
}


.number-box {
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-bottom: 18px;
    background: rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #f2f2f2;
}

.number {
    font-size: 65px;
    font-weight: bold;
    color: #ffd700;
    text-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
    animation: pop 0.4s ease-in-out;
}

.time-text {
    font-size: 17px;
    color: #ffffffcc;
    margin-bottom: 18px;
}

.generate-btn {
    width: 100%;
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    transition: 0.3s;
}

.generate-btn:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 15px rgba(0, 198, 255, 0.7);
}

.hint {
    margin-top: 15px;
    font-size: 14px;
    color: #f5f5f5;
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .random-card {
        padding: 28px 18px;
    }

    .title {
        font-size: 22px;
    }

    .number {
        font-size: 50px;
    }

    .generate-btn {
        font-size: 15px;
        padding: 12px;
    }
}

/* Smooth Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

/* Remove mobile tap highlight */
button {
    -webkit-tap-highlight-color: transparent;
}